@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Kylie Fromm Website";
}

<h1>Kylie Fromm</h1>
<img width="400" height="450" id="kyliepic" src="img/Bryce.png" />
<p>I hope to be more confident when coding after IS 413! </p>
<br />

<p>Top three jobs after graduation: </p>
<ol>
    <li> Data Analyst</li>
    <li> Cyber Security Operator</li>
    <li> Front End Developer</li>
</ol>

